{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block content %}

<h2 class="mb-4">{{ category_name }} List</h2>
<!-- 🔎 Filters -->

<form method="get" class="row mb-4">

<div class="col-md-3">
<input 
type="number"
name="min_price"
placeholder="Min Price"
class="form-control">
</div>

<div class="col-md-3">
<input 
type="number"
name="max_price"
placeholder="Max Price"
class="form-control">
</div>

<div class="col-md-3">
<select name="ram" class="form-control">
<option value="">RAM</option>
<option value="4">4GB</option>
<option value="6">6GB</option>
<option value="8">8GB</option>
<option value="12">12GB</option>
<option value="16">16GB</option>
</select>
</div>

<div class="col-md-3">
<button class="btn btn-primary w-100">
Apply Filters
</button>
</div>

</form>


<form method="get" class="row mb-4">

<div class="row">

    {% for product in products %}

    <div class="col-md-4 mb-4">

        <div class="card p-3 shadow h-100">

            {% if product.image %}
            <img src="{{ product.image.url }}"
                 class="img-fluid mb-2 w-100"
                 style="height:200px; object-fit:contain; background:#f8f9fa;">
            {% endif %}

            <h5>
                <a href="{% url 'product_detail' product.slug %}"
                   class="text-decoration-none">
                    {{ product.name }}
                </a>
            </h5>

            <p class="mb-1"><strong>Price:</strong> ₹{{ product.price }}</p>

            <p class="mb-1">
                <strong>Score:</strong> {{ product.overall_score }}/100
            </p>

            {% if product.verdict == "Best Overall" %}
            <span class="badge bg-success">{{ product.verdict }}</span>

            {% elif product.verdict == "Excellent Choice" %}
            <span class="badge bg-primary">{{ product.verdict }}</span>

            {% elif product.verdict == "Good Option" %}
            <span class="badge bg-warning text-dark">{{ product.verdict }}</span>

            {% else %}
            <span class="badge bg-danger">{{ product.verdict }}</span>
            {% endif %}

            <!-- Compare Checkbox -->
            <div class="form-check mt-3">
                <input class="form-check-input"
                       type="checkbox"
                       name="compare"
                       value="{{ product.id }}">

                <label class="form-check-label">
                    Add to Compare
                </label>
            </div>

        </div>

    </div>

    {% endfor %}

</div>


{% if products %}
<div class="text-center mt-4">

    <button type="submit"
            class="btn btn-dark btn-lg">
        Compare Selected
    </button>

</div>
{% endif %}

</form>

{% endblock %}