{% extends 'base.html' %}

{% block title %}Compare Products{% endblock %}

{% block content %}

<div class="container mt-5">

<a href="/" class="btn btn-secondary mb-4">⬅ Home</a>

<h2 class="text-center mb-4">Product Comparison</h2>

{% if products|length == 2 %}

{% with p1=products.0 p2=products.1 %}

<table class="table table-bordered text-center align-middle">

<tr>
<th>Feature</th>
<th>{{ p1.name }}</th>
<th>{{ p2.name }}</th>
</tr>


<tr>
<td>Image</td>

<td>
{% if p1.image %}
<img src="{{ p1.image.url }}" style="height:120px;">
{% endif %}
</td>

<td>
{% if p2.image %}
<img src="{{ p2.image.url }}" style="height:120px;">
{% endif %}
</td>

</tr>


<tr>
<td>Price</td>

<td class="{% if p1.price < p2.price %}table-success{% endif %}">
₹{{ p1.price }}
</td>

<td class="{% if p2.price < p1.price %}table-success{% endif %}">
₹{{ p2.price }}
</td>

</tr>


<tr>
<td>Score</td>

<td class="{% if p1.overall_score > p2.overall_score %}table-success{% endif %}">
{{ p1.overall_score }}
</td>

<td class="{% if p2.overall_score > p1.overall_score %}table-success{% endif %}">
{{ p2.overall_score }}
</td>

</tr>


{% if p1.category.name == "Mobile" %}

<tr>
<td>RAM</td>

<td class="{% if p1.mobilespecs.ram > p2.mobilespecs.ram %}table-success{% endif %}">
{{ p1.mobilespecs.ram }} GB
</td>

<td class="{% if p2.mobilespecs.ram > p1.mobilespecs.ram %}table-success{% endif %}">
{{ p2.mobilespecs.ram }} GB
</td>

</tr>


<tr>
<td>Storage</td>

<td class="{% if p1.mobilespecs.storage > p2.mobilespecs.storage %}table-success{% endif %}">
{{ p1.mobilespecs.storage }} GB
</td>

<td class="{% if p2.mobilespecs.storage > p1.mobilespecs.storage %}table-success{% endif %}">
{{ p2.mobilespecs.storage }} GB
</td>

</tr>


<tr>
<td>Battery</td>

<td class="{% if p1.mobilespecs.battery > p2.mobilespecs.battery %}table-success{% endif %}">
{{ p1.mobilespecs.battery }} mAh
</td>

<td class="{% if p2.mobilespecs.battery > p1.mobilespecs.battery %}table-success{% endif %}">
{{ p2.mobilespecs.battery }} mAh
</td>

</tr>


<tr>
<td>Camera</td>

<td class="{% if p1.mobilespecs.camera > p2.mobilespecs.camera %}table-success{% endif %}">
{{ p1.mobilespecs.camera }} MP
</td>

<td class="{% if p2.mobilespecs.camera > p1.mobilespecs.camera %}table-success{% endif %}">
{{ p2.mobilespecs.camera }} MP
</td>

</tr>

{% endif %}

</table>


<h4 class="text-center mt-4">

🏆 Winner:

{% if p1.overall_score > p2.overall_score %}
{{ p1.name }}

{% elif p2.overall_score > p1.overall_score %}
{{ p2.name }}

{% else %}
It's a Tie!
{% endif %}

</h4>

{% endwith %}

{% else %}

<p class="text-center text-danger">
Please select exactly 2 products to compare.
</p>

{% endif %}

</div>

{% endblock %}