{% extends 'base.html' %}

{% block title %}Best Mobiles & Laptops Comparison | TechCompare{% endblock %}

{% block description %}
Compare latest mobiles and laptops. Discover recently launched and best overall tech products with intelligent scoring.
{% endblock %}

{% block content %}


<!-- HERO SECTION -->

<div class="hero-dark text-center text-light py-5 mb-5">

<h1 class="fw-bold">Find the Best Tech Products</h1>

<p class="opacity-75">
Compare mobiles & laptops with intelligent scoring system
</p>

<div class="mt-4">

<a href="/top-Mobiles/" class="btn btn-light me-2">
Top 10 Mobiles
</a>

<a href="/top-Laptops/" class="btn btn-outline-light">
Top 10 Laptops
</a>

</div>

</div>



<!-- RECENTLY LAUNCHED -->

<h3 class="mb-4">🚀 Recently Launched</h3>

<div class="row g-3">

{% for product in recent_products %}

<div class="col-6 col-md-4 col-lg-3">

<div class="card p-3 text-center h-100">

{% if product.image %}
<img src="{{ product.image.url }}"
class="img-fluid mb-2"
style="height:120px; object-fit:contain;">
{% endif %}

<h6>

<a href="{% url 'product_detail' product.slug %}"
class="text-decoration-none">

{{ product.name }}

</a>

</h6>

<p class="mb-1">₹{{ product.price }}</p>

<span class="badge bg-dark">
Score {{ product.overall_score|floatformat:0 }}
</span>

{% if product.verdict %}

<span class="badge bg-success">
{{ product.verdict }}
</span>

{% endif %}

</div>

</div>

{% endfor %}

</div>



<hr class="mt-5">



<!-- TRENDING PRODUCTS -->

<h3 class="mb-4">🔥 Trending Products</h3>

<div class="row g-3">

{% for product in trending_products %}

<div class="col-6 col-md-4 col-lg-3">

<div class="card p-3 text-center h-100">

{% if product.image %}
<img src="{{ product.image.url }}"
class="img-fluid mb-2"
style="height:120px; object-fit:contain;">
{% endif %}

<h6>

<a href="{% url 'product_detail' product.slug %}"
class="text-decoration-none">

{{ product.name }}

</a>

</h6>

<p class="mb-1">₹{{ product.price }}</p>

<span class="badge bg-danger">
🔥 Trending
</span>

</div>

</div>

{% empty %}

<p>No trending products yet.</p>

{% endfor %}

</div>



<hr class="mt-5">



<!-- BEST PRODUCTS -->

<h3 class="mb-4">⭐ Best Overall</h3>

<div class="row g-3">

{% for product in best_products %}

<div class="col-6 col-md-4 col-lg-3">

<div class="card p-3 text-center h-100">

{% if product.image %}
<img src="{{ product.image.url }}"
class="img-fluid mb-2"
style="height:120px; object-fit:contain;">
{% endif %}

<h6>

<a href="{% url 'product_detail' product.slug %}"
class="text-decoration-none">

{{ product.name }}

</a>

</h6>

<p class="mb-1">₹{{ product.price }}</p>

<span class="badge bg-success">
Score {{ product.overall_score|floatformat:0 }}
</span>

</div>

</div>

{% endfor %}

</div>



{% endblock %}