{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<a href="/" class="btn btn-secondary mb-4">⬅ Back</a>

<div class="row">

    <!-- Product Image -->
    <div class="col-md-4 text-center">
        {% if product.image %}
        <img src="{{ product.image.url }}"
             class="img-fluid"
             style="max-height:350px; object-fit:contain;">
        {% endif %}
    </div>

    <!-- Product Info -->
    <div class="col-md-8">

        <h2>{{ product.name }}</h2>

        <p><strong>Brand:</strong> {{ product.brand }}</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Price:</strong> ₹{{ product.price }}</p>
        <p><strong>Launch Date:</strong> {{ product.launch_date }}</p>

        <h4 class="mt-3">Score</h4>

        <div class="progress mb-3">
          <div class="progress-bar bg-success"
               role="progressbar"
               style="width: {{ product.overall_score }}%;">
            {{ product.overall_score }}/100
          </div>
        </div>

        

        {% if product.verdict == "Best Overall" %}
        <span class="badge bg-success fs-6">{{ product.verdict }}</span>
        {% elif product.verdict == "Excellent Choice" %}
        <span class="badge bg-primary fs-6">{{ product.verdict }}</span>
        {% elif product.verdict == "Good Option" %}
        <span class="badge bg-warning text-dark fs-6">{{ product.verdict }}</span>
        {% else %}
        <span class="badge bg-danger fs-6">{{ product.verdict }}</span>
        {% endif %}

        {% if product.affiliate_link %}
        <div class="mt-4">
            <a href="{{ product.affiliate_link }}"
               target="_blank"
               class="btn btn-primary btn-lg">
               Buy Now
            </a>
        </div>
        {% endif %}

    </div>

</div>

<hr>

<h3>Specifications</h3>

{% if product.mobilespecs %}

<table class="table table-striped">

<tr>
<th>RAM</th>
<td>{{ product.mobilespecs.ram }} GB</td>
</tr>

<tr>
<th>Storage</th>
<td>{{ product.mobilespecs.storage }} GB</td>
</tr>

<tr>
<th>Battery</th>
<td>{{ product.mobilespecs.battery }} mAh</td>
</tr>

<tr>
<th>Camera</th>
<td>{{ product.mobilespecs.camera }} MP</td>
</tr>

<tr>
<th>Processor Score</th>
<td>{{ product.mobilespecs.processor_score }}</td>
</tr>

<tr>
<th>Display</th>
<td>{{ product.mobilespecs.display_type }}</td>
</tr>

</table>

{% elif product.laptopspecs %}

<table class="table table-striped">

<tr>
<th>RAM</th>
<td>{{ product.laptopspecs.ram }} GB</td>
</tr>

<tr>
<th>Storage</th>
<td>{{ product.laptopspecs.storage }} GB</td>
</tr>

<tr>
<th>Processor Score</th>
<td>{{ product.laptopspecs.processor_score }}</td>
</tr>

<tr>
<th>GPU</th>
<td>{{ product.laptopspecs.gpu }}</td>
</tr>

<tr>
<th>Battery Backup</th>
<td>{{ product.laptopspecs.battery_backup }} Hours</td>
</tr>

</table>

{% endif %}

{% endblock %}